*{margin:0; padding:0; outline:0}
body{font-family:arial; font-size:14px; line-height:18px; color:#333; background:#ECE8D6}
.template{width:960px; margin:0 auto}
.clear{overflow:hidden;}
.headersection{}
.header{background:#333333; height:80px;}
.headerleft {
    width: 450px;
    color: #fff;
    float: left;
}
.headerleft h2{
	font-size: 40px;
    line-height: 65px;
    padding-left: 25px;
}
.headerright {
    width: 510px;
    float: right;
    color: #fff;
    padding-top: 35px;
}
.headerright a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.headerright a:hover, #active{color:#00ACF3;}
.mainsection{background: white}
.slogansection {
    margin-left: 50px;
    border-bottom: 2px dotted #646464;
    margin-right: 50px;
    margin-top: 30px;
    padding-bottom: 28px;
}
.slogansection h2 {
    font-size: 50px;
    line-height: 80px;
    color: #000;
}
.slogansection h3 {
    font-size: 40px;
    line-height: 40px;
    color: #5B5B5B;
}
.description {
    margin: 28px 50px 50px 50px;
    font-size: 27px;
    line-height: 30px;
    color: #666;
    border-bottom: 2px dotted #5B5B5B;
    padding-bottom: 30px;
}
.description p{}
.contentsection {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.service {
    background: #00ADEF;
    width: 210px;
    margin-left: 52px;
    float: left;
    padding: 20px;
    box-shadow: 5px 5px 0px 0px #DCDCDC;
}
.service h2 {
    color: #fff;
    border-bottom: 1px dotted #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 27px;
    text-align: center;
}
.service p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

.readmore {
    background: #0078A5;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


.readmore a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.readmore a:hover{}

.mainbottom {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border-top: 2px dotted #CCCCCC;
    padding-top: 30px;
    border-bottom: 2px dotted #CCCCCC;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.clientsection {
    width: 390px;
    float: left;
    border-right: 2px dotted #ccc;
    padding-right: 30px;
    margin-right: 30px;
}
.clientsection h2 {
    font-size: 25px;
    color: #666;
    line-height: 30px;
}
.testimonial {
    margin-top: 20px;
}

.clientimage {
    float: left;
    margin-right: 20px;
    width: 80px;
}
.clientimage img{height: 80px; width: 80px;}

.clientdesc {
    float: left;
    width: 280px;
}
.clientdesc p {
    color: #666;
}
.clientdesc a {
    text-decoration: none;
    color: #00ADEF;
}

.clientname {
    font-weight: bold;
    margin-top: 8px;
}

.projectsection{width: 400px; float: right;}
.projectsection h2{
    font-size: 25px;
    color: #666;
    line-height: 30px;
}
.projectsection h3{}
.projectsection img{}
.projectsection p{}
.projectsection p a{}
.footersection{background: #FFFFFF;}
.footersection p{}


