*{margin:0; padding:0; outline:0}
body{font-family:arial; font-size:14px; line-height:18px; color:#333;}
.template{width:960px; margin:0 auto}
.clear{overflow:hidden;}
.headersection{background:#333333; height:80px;}
.header{}
.headerleft {
    width: 520px;
    color: #fff;
    float: left;
}
.headerleft h2{
	font-size: 40px;
    line-height: 65px;
    padding-left: 25px;
}
.headerright {
    width: 430px;
    float: right;
    color: #fff;
    padding-top: 35px;
}
.headerright a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.headerright a:hover, #active{color:#00ACF3;}
.mainsection{}
.slogansection{}
.slogansection h2{}
.slogansection h3{}
.description{}
.description p{}
.contentsection{}
.service{}
.service h2{}
.service p{}

.readmore{}
.readmore a{}
.readmore a:hover{}

.mainbottom{}
.clientsection{}
.clientsection h2{}

.testimonial{}
.clientimage{}
.clientimage img{}

.clientdesc{}
.clientdesc p{}

.clientname{}
.projectsection{}
.projectsection h2{}
.projectsection h3{}
.projectsection img{}
.projectsection p{}
.projectsection p a{}
.footersection{}
.footersection p{}
.{}
.{}
.{}
.{}